/* 
* px = fixed size
* em = relative to the parent element (parent px = 16, em = 1 = 16px) 
* rem = relative to the ROOT element (the greatest parent) 
*/

body {
	background-color: lightblue;

	font-family: arial;
	font-size: 16px;
}

h1 {
	animation: colorChange 30s infinite;
}

#banner-image {
	width: 100%; /* forces image to span the entirety of its parent element (body) */
	height: 100px; /* keeps height at a set size */ 

	position: relative;

	/* allows the image to be cropped to specifications */ 
	object-fit: cover; /* covers the specified width and height, preventing stretching or squishing to occur */
	object-position: 50% 50%; /* show the center of the image */ 
}

#banner-text { /* text = LAMDA EXPRESSIONS */ 
	color: magenta; 

	text-align: center;
	font-family: fantasy;
	font-weight: bold;
	font-size: clamp(40px, 4.5vw, 90vw); /* dynamically change size of text relative to viewport */ 
	
	position: absolute;
	
	white-space: nowrap; /* keep benner text in a line */
	overflow: hidden;
	
    animation: colorChange 5s infinite;
}

/* code tag code. */
code {
    font-size: 12px;
    font-family: monospace; 
}

.codeLine{
	margin-top: 0px;
	margin-bottom: 0px;
}

/* header */
.card-head {
	color: purple;
	font-size: 30px;
	margin-bottom: 5px;
}

/* subheader */
.card-subhead {
	font-size: 15px;
	margin-top: 0px;
}

/* links */
a {
	font-size: 100%;
}


.section {
	margin-bottom: 10px;
	text-decoration: underline; 
}

/* for lists inr a list */ 
.list-sub {
	margin-bottom: 5px;
}

/* images */
#lambda-img {
	float: right;  
	margin-right: 50px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	top: -20px;
	width: 250px;
	position: relative; 
}


@media (min-width: 1176px) {
	#lambda-img { /* if the image is on a wider screen*/
		margin-right: 400px;
		top: -60px;
	}
}


/*==== Animation Elements ====*/
/* rotate through all the colors */
@keyframes colorChange{
	from{filter:none;}
	to{filter:hue-rotate(360deg);}
}


/* make font size larger when hovering */ 
.ani-fontSize {transition: font-size .2s;}
.ani-fontSize:hover {font-size: 1.1em;}


/*==== Basic classes for formatting ====*/
.container {
	/* allows child elements with absolute position to
	 * position according to this element */ 
	position: relative;
	border: 1px solid red;
  }

  /* centers child elements in element */ 
  .center {
	display: flex;
	align-items: center;
	justify-content: center;
  }